@charset "UTF-8";
.main-nav__list {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.main-nav__list {
  padding-left: 0;
  list-style: none;
}

.btn, .toggle-nav-btn, .slider-nav__btn {
  border: 0;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro/GothamPro.eot");
  src: local("☺"), url("../fonts/GothamPro/GothamPro/GothamPro.eot?#iefix") format("eot"), url("../fonts/GothamPro/GothamPro/GothamPro.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro/GothamPro.svg#GothamPro") format("svg");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.eot");
  src: local("☺"), url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.eot?#iefix") format("eot"), url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro-Italic/GothamPro-Italic.svg#GothamPro-Italic") format("svg");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.eot");
  src: local("☺"), url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.eot?#iefix") format("eot"), url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro-Bold/GothamPro-Bold.svg#GothamPro-Bold") format("svg");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.eot");
  src: local("☺"), url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.eot?#iefix") format("eot"), url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.woff2") format("woff2"), url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro-Black/GothamPro-Black.svg#GothamPro-Black") format("svg");
  font-style: normal;
  font-weight: 900;
}

html {
  font-size: 1em;
}

body {
  font-family: "GothamPro", sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.75;
  position: relative;
  overflow-x: hidden;
  counter-reset: item;
  color: #000000;
  background-color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size-adjust: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 1rem 0;
}

p + p {
  margin-top: 1rem;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
}

a {
  text-decoration: underline;
  color: #545ad8;
}

a:hover, a:focus {
  color: #2a30b6;
}

img {
  max-width: 100%;
}

a,
button,
input,
textarea {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* # Buttons
   ========================================================================== */
/* Main Buttons */
.btn {
  font-size: 1rem;
  font-weight: 900;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 0.625em 2.375em;
  text-transform: uppercase;
  color: #646464;
  border: 1px solid;
  border-radius: 1.25em;
  background: transparent;
}

.btn:hover, .btn:focus {
  color: white;
  background: #646464;
}

.btn--lead {
  min-width: 10.625em;
  color: white;
  background: #646464;
}

.btn--lead:hover, .btn--lead:focus {
  color: #646464;
  background: white;
}

/* ==========================================================================
   Layout
   ========================================================================== */
/* # Page
   ========================================================================== */
.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  z-index: 1;
  margin: 2.2rem 0 1.75rem;
  padding-bottom: 0.33333em;
  text-align: center;
  text-transform: uppercase;
  color: #646464;
}

.section-title:before {
  font-size: 1.25em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  width: 1em;
  height: 2px;
  content: ' ';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #646464;
}

/* # Header
   ========================================================================== */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 80px;
  background: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-header__inner-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.main-header > .container {
  height: 100%;
}

.brand {
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #646464;
}

.brand__name {
  font-size: 1.125em;
  display: none;
  margin-left: 15px;
  color: inherit;
}

.brand:hover, .brand:focus {
  text-decoration: none;
  color: #646464;
}

.main-nav__overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  padding-top: 80px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
  opacity: 0;
  background: white;
}

.main-nav-open .main-nav__overlay {
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

.main-nav__overlay-inner {
  margin-top: 4.0625em;
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.main-nav__list {
  padding: 0 15px;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateY(-25%) rotateX(35deg);
          transform: translateY(-25%) rotateX(35deg);
  text-align: center;
  opacity: 0.4;
}

.main-nav-open .main-nav__list {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  opacity: 1;
}

.main-nav-close .main-nav__list {
  -webkit-transform: translateY(25%) rotateX(-35deg);
          transform: translateY(25%) rotateX(-35deg);
}

.main-nav__item + .main-nav__item {
  margin-top: 1.5625em;
}

.main-nav__item.active .main-nav__link {
  color: #545ad8;
}

.main-nav__link {
  font-size: 0.875em;
  text-decoration: none;
  text-transform: uppercase;
  color: #646464;
}

.main-nav__link:hover {
  text-decoration: none;
  color: #545ad8;
}

.main-nav__link:focus {
  text-decoration: none;
  color: #646464;
}

body.main-nav-open {
  overflow: hidden;
}

.toggle-nav-btn {
  line-height: 0;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 15px;
  padding: 0.625em;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toggle-nav-btn__inner {
  position: relative;
  display: inline-block;
  width: 0.9375em;
  height: 0.875em;
}

.toggle-nav-btn__inner span {
  position: absolute;
  z-index: 100;
  left: 0;
  display: block;
  width: 100%;
  height: 0.0625em;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  background: #000000;
}

.toggle-nav-btn__inner span:nth-child(1) {
  top: 0;
}

.main-nav-open .toggle-nav-btn__inner span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.toggle-nav-btn__inner span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.main-nav-open .toggle-nav-btn__inner span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.toggle-nav-btn__inner span:nth-child(3) {
  bottom: 0;
}

.main-nav-open .toggle-nav-btn__inner span:nth-child(3) {
  bottom: 50%;
  -webkit-transform: translateY(50%) rotate(45deg);
          transform: translateY(50%) rotate(45deg);
}

/* ==========================================================================
   Modules
   ========================================================================== */
/* # Svg Icons
   ========================================================================== */
.icon {
  font-size: 1em;
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

.icon svg {
  width: 1em;
  height: 1em;
}

/* # Main Logo
   ========================================================================== */
.main-logo {
  font-size: 4.375em;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
}

.main-logo > svg {
  width: 1em;
}

/* # Slider Controls
   ========================================================================== */
.slider-nav {
  font-size: 1rem;
  position: absolute;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-nav__btn {
  font-size: 3.125rem;
  line-height: 0;
  display: inline-block;
  text-align: center;
  width: 1em;
  height: 1em;
  padding: 0;
  color: #646464;
  border: 1px solid;
  border-radius: 100%;
  background: transparent;
}

.slider-nav__btn .icon {
  font-size: 1rem;
}

.slider-nav__btn:hover, .slider-nav__btn:focus {
  color: white;
  background: #646464;
}

.slider-nav__btn-inner {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-nav--prev {
  left: 0;
}

.slider-nav--next {
  right: 0;
}

.slider-nav .swiper-button-disabled:hover, .slider-nav .swiper-button-disabled:focus {
  color: #646464;
  background: transparent;
}

.slider-pagination {
  position: absolute;
  z-index: 4;
}

.swiper-container-horizontal > .slider-pagination {
  line-height: 0;
  bottom: 0.9375em;
  text-align: center;
}

.swiper-container-horizontal > .slider-pagination .swiper-pagination-bullet {
  font-size: 0.625em;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  opacity: 1;
  border: 1px solid white;
  background: white;
}

.swiper-container-horizontal > .slider-pagination .swiper-pagination-bullet-active {
  background: #646464;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media all and (min-width: 768px) {
  .main-header__inner-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav__overlay {
    position: relative;
    z-index: 1;
    visibility: visible;
    padding: 0;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
  }
  .main-nav__overlay-inner {
    margin: 0;
    -webkit-perspective: none;
            perspective: none;
  }
  .main-nav__list {
    margin: 0 -0.75em;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .main-nav__item {
    display: inline-block;
    padding: 0 0.75em;
  }
  .main-nav__item + .main-nav__item {
    margin-top: 0;
  }
  .toggle-nav-btn {
    display: none;
  }
}

@media all and (min-width: 992px) {
  .brand__name {
    display: inline-block;
  }
}

/*# sourceMappingURL=map/main.css.map */
