/* # Features Item
   ========================================================================== */
.features-item {
  color: #646464;
}

.features-item__title {
  font-size: 1.125em;
  font-weight: 700;
  margin: 0 0 2rem;
  color: inherit;
}

.features-item__description {
  font-size: 0.875em;
  margin: 0 0 2rem;
  color: inherit;
}

@media all and (min-width: 768px) {
  .features-item__description {
    margin: 0 0 4rem;
  }
}

/*# sourceMappingURL=map/features-item.css.map */
