/* # Full Slider Swiper
   ========================================================================== */
.full-slider-swiper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
}

.full-slider-swiper__bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.full-slider-swiper__text-wrap {
  position: relative;
  z-index: 2;
  text-align: center;
}

.full-slider-swiper__text-wrap .btn {
  margin: 1em 0 0;
}

.full-slider-swiper__title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 0;
  text-transform: uppercase;
  color: white;
}

.full-slider-swiper__description {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}

.full-slider-swiper .swiper-slide {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 80px 15px 0;
}

.full-slider-swiper .swiper-slide:before {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background: rgba(0, 0, 0, 0.5);
}

.full-slider-swiper .slider-nav {
  display: none;
}

.full-slider-swiper .slider-nav__btn {
  color: white;
}

.full-slider-swiper .slider-nav__btn:hover, .full-slider-swiper .slider-nav__btn:focus {
  color: #000000;
  border-color: white;
  background: white;
}

.full-slider-swiper .slider-nav--prev {
  left: 10%;
}

.full-slider-swiper .slider-nav--next {
  right: 10%;
}

.full-slider-swiper .swiper-button-disabled:hover, .full-slider-swiper .swiper-button-disabled:focus {
  color: white;
  background: transparent;
}

@media all and (min-width: 768px) {
  .full-slider-swiper__title {
    font-size: 2.8125em;
  }
  .full-slider-swiper__description {
    font-size: 14px;
    max-width: 400px;
    margin: 0 auto;
  }
  .full-slider-swiper .slider-nav {
    display: block;
  }
}

@media all and (min-width: 1200px) {
  .full-slider-swiper__title {
    font-size: 4.6875em;
  }
}

/*# sourceMappingURL=map/full-slider-swiper.css.map */
