/* # Mini Slider Swiper
   ========================================================================== */
.mini-slider-swiper {
  position: relative;
  z-index: 1;
  text-align: center;
}

.mini-slider-swiper__link {
  display: inline-block;
}

.mini-slider-swiper .swiper-slide {
  overflow: hidden;
}

.mini-slider-swiper .slider-nav-wrap {
  font-size: 0;
  display: block;
  margin-top: 2.1875rem;
  text-align: center;
}

.mini-slider-swiper .slider-nav {
  position: relative;
  top: 0;
  display: inline-block;
  margin: 0 0 0.3125em;
  -webkit-transform: none;
          transform: none;
}

.mini-slider-swiper .slider-nav--prev {
  left: -30px;
}

.mini-slider-swiper .slider-nav--next {
  right: -30px;
}

.mini-slider-swiper .slider-nav + .slider-nav {
  margin-left: 2.5em;
}

@media all and (min-width: 992px) {
  .mini-slider-swiper .slider-nav-wrap {
    margin: 0;
  }
  .mini-slider-swiper .slider-nav {
    position: absolute;
    top: 50%;
    margin: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .mini-slider-swiper .slider-nav--prev {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  .mini-slider-swiper .slider-nav--next {
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  .mini-slider-swiper .slider-nav + .slider-nav {
    margin: 0;
  }
}

@media all and (orientation: landscape) and (max-width: 767px) {
  .mini-slider-swiper__thumb {
    max-height: 40vh;
  }
}

/*# sourceMappingURL=map/mini-slider-swiper.css.map */
