/* # Post
   ========================================================================== */
.post {
  font-size: 0.875em;
  margin: 0 0 8.625em;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5 {
  text-transform: uppercase;
  color: #646464;
  margin: 2rem 0;
}

.post a:visited {
  color: #b854d8;
}

.post p + p {
  margin: 0;
}

.post p:last-child {
  margin-bottom: 2rem;
}

@media all and (min-width: 768px) {
  .post {
    font-size: 1em;
  }
}

/*# sourceMappingURL=map/post.css.map */
